<%- include("partials/header.ejs"); %>
<link rel="stylesheet" href="/css/quesstyle.css">

<div class="quest">
	<form id="quiz" action="/containmentZone2" method="post">
    <p>2 + 8 = </p>
    <input type="text" class="con2" name="con2" value="">
    <br>
    <br>
    <input type="hidden" id="pop1" class="input3" name="" value=<%= population %>>
    <input type="hidden" id="pop2" class="input4" name="infectedPopulation">
		<input type="hidden" name="userId2" value=<%= userId %>>
    <button class="btn btn-warning btn-lg" id="button1" type="submit" onclick="changePopulation7()" name="button" value="1">Submit</button>
	</form>
  </div>

  <table class="table table-borderless">
    <tr class="header">
      <td style="color: white;">TIME LEFT (in minutes) </td>
    <tr>
      <td id="timer" style="color: white;"></td>
    </tr>
    <input type="hidden" id="timeLeft" name="" value=<%= timeLeft7 %>>
  </table>

  <form class="timerForm" action="/containmentZone2" method="post">
    <input type="hidden" id="timeLeftData" name="timeLeftData" value="">
		<input type="hidden" name="userId" value=<%= userId %>>
    <button type="submit" id="button2" name="button" value="2" style="visibility: hidden;"></button>
  </form>

   <script type="text/javascript" src="/answers.js"></script>
	 <script>
	   // if (sessionStorage.getItem("total_seconds1")) {
	   //   var total_seconds = sessionStorage.getItem("total_seconds1");
	   // } else {
	   //   var total_seconds = 60 * 0.5;
	   // }

	   if (sessionStorage.getItem("total_seconds7")) {
	     var total_seconds = sessionStorage.getItem("total_seconds7");
	   } else {
	     var total_seconds = document.querySelector("#timeLeft").value;
	   }

	   var minutes = parseInt(total_seconds / 60);
	   var seconds = parseInt(total_seconds % 60);

	   function countDownTimer() {
	     if (seconds < 10) {
	       seconds = "0" + seconds;
	     }
	     if (minutes < 10) {
	       minutes = "0" + minutes;
	     }

	     document.getElementById("timer").innerHTML = minutes + " : " + seconds;
	     if (total_seconds > 0) {
	       total_seconds = total_seconds - 1;
	       minutes = parseInt(total_seconds / 60);
	       seconds = parseInt(total_seconds % 60);
	       sessionStorage.setItem("total_seconds7", total_seconds);
	       setInterval(function() {
	         document.querySelector("#timeLeftData").value = total_seconds;
	         document.getElementById("button2").click();
	       }, 10000);
	       setTimeout("countDownTimer()", 1000);
	     } else {
	       changePopulation();
	       document.getElementById("button1").click();
	     }
	   }
	   setTimeout("countDownTimer()", 1000);
	 </script>
<script type="text/javascript">  function preventBack() {window.history.forward();}  setTimeout("preventBack()", 0);  window.onunload = function () {null};</script>
